@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --clr-primary-100: hsl(163, 72%, 41%);
    --clr-primary-200: hsl(356, 69%, 56%);

    /* top card bacground color */
    --clr-primary-300: hsl(208, 92%, 53%);
    --clr-primary-400: hsl(203, 89%, 53%);
    --clr-primary-500: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --clr-primary-600: hsl(348, 97%, 39%);

    /* toggler color */
    --clr-primary-700: linear-gradient(90deg, hsl(210, 78%, 56%),hsl(146, 68%, 55%));

    /* dark theme */

    --clr-neutral-100: hsl(230, 17%, 14%);  /* BG */
    --clr-neutral-200: hsl(232, 19%, 15%); 
    --clr-neutral-300: hsl(228, 28%, 20%); /* card BG */
    --clr-neutral-350: hsl(228, 28%, 30%); /* card BG hover */
    --clr-neutral-400: hsl(228, 34%, 66%); /* Text color */
    --clr-neutral-500: hsl(0, 0%, 100%); /* white text color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--clr-neutral-100);
}
/* utilities */
.transition {
    transition: background-color .6s;
}
/* utilities */

.container {
    max-width: 1000px;
    margin-inline: auto;
    margin-block: 25px;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-inline: 1rem;
}
.title {
    color: var(--clr-neutral-500);
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.total-followers {
    color: var(--clr-neutral-400);
}

.theme-switcher-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.mode {
    color: var(--clr-neutral-400);
}
.theme-switcher {
    width: 40px;
    height: 20px;
    background-image: var(--clr-primary-700);
    border-radius: 100vh;
    padding: 3px;
    cursor: pointer;
}
.circle {
    width: 15px;
    height: 15px;
    border: 0;
    background: var(--clr-neutral-100);
    border-radius: 50%;
    transition: .4s;
}
.circle.lightTheme {
    transform: translateX(17px);
}


/* main */  /* social-media-followers */

.social-media-followers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-inline: 1rem;
}
.normal-card {
    height: 200px;
    background-color: var(--clr-neutral-300);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}
.card-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--clr-neutral-400);
}
.followers {
    color: var(--clr-neutral-500);
    font-size: 2.3rem;
    font-weight: 700;
}
.type {
    color: var(--clr-neutral-400);
    text-transform: uppercase;
    letter-spacing: 5px;
}
.archived-tody {
    display: flex;
    align-items: center;
    gap: 3px;
}
.archived-tody i {
    font-size: 0.7rem
}
.archived-tody.increased {
    color: var(--clr-primary-100);
}
.archived-tody.decreased {
    color: var(--clr-primary-200);
}
/* card before */
.normal-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
}
.facebook::before {
    background-color: var(--clr-primary-300);
}
.twitter::before {
    background-color: var(--clr-primary-400);
}
.instagram::before {
    background-image: var(--clr-primary-500);
}
.youtube::before {
    background-color: var(--clr-primary-600);
}
/* main */ /*  over-view */
.over-view {
    margin-top: 30px;
    margin-inline: 1rem;
}
.second-title {
    color: var(--clr-neutral-500);
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.small-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.small-card {
    background-color: var(--clr-neutral-300);
    border-radius: 5px;
    padding: 20px;
}
.small-card > div:first-child {
    display: flex;
    justify-content: space-between;
}
.small-card-info {
    color: var(--clr-neutral-400);
}
.small-card > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.archived {
    color: var(--clr-neutral-500);
    font-size: 2rem;
}

/* hover */
:is(.normal-card, .small-card):hover {
    background-color: var(--clr-neutral-350);
    cursor: pointer;
}

/* responsive */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .theme-switcher-wrapper {
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }
    .title-wrapper {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--clr-neutral-300);
    }
}

